// Pre. Import fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
// Default variable overrides
$body-bg: #fefefe;
$body-color: #111;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$headings-font-family: 'Ubuntu', sans-serif;

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/spinners";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

// 8. Add additional custom code here

.btn.btn-secondary.active {
    background-color: black;
    color: white;
}

thead tr {
    margin: 1rem;
}

thead th {
    background-color: #7e57c5;
    margin: 0.1rem;
}

thead th p{
    margin-bottom: 0;
}

.team__list {
    margin-top: 2rem;
}

.form-label{
    margin: 0.4rem;
}

.card-header,
.home__title {
    font-size: 2rem;
    font-weight: bold;
    color: #7e57c5;
}

.home__description {
    width: 70%;
    line-height: 1.7;
    margin-bottom: 3rem;
}

.homepage h2 {
    margin-top: 3rem;
}

.homepage h4 {
    margin-top: 2rem;
}

.home--description__container {
    margin-bottom: 4rem;
}

.description__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.6rem 2rem;
    background-color: #9c88c2;
    border: 2px solid black;
}

.description__link:hover {
    text-decoration: underline;
}

.container-md {
    margin-top: 2rem;
}

.team__list .list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team__list .list-group-item {
    width: 25%;
    text-align: center;
}

.team__list .list-group-item p {
    font-weight: bold;
}

.member--Student {
    color: #e6a65e;
}

.member--Teacher {
    color: rgb(103, 232, 255);
}

.team__list .list-group-item h2{
    font-size: 1.5rem;
}

.team__list .list-group-item a{
    text-decoration: none;
    color: black;
}

.team__list .list-group-item a:hover{
    text-decoration: underline;
}