// Pre. Import fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
// Default variable overrides
$body-bg: #fefefe;
$body-color: #111;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$headings-font-family: 'Ubuntu', sans-serif;

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/spinners";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

// 8. Add additional custom code here

.btn.btn-secondary.active {
    background-color: black;
    color: white;
}

thead tr {
    margin: 1rem;
}

thead th {
    background-color: #7e57c5;
    margin: 0.1rem;
}

thead th p{
    margin-bottom: 0;
}

.team__list {
    margin-top: 2rem;
}

.form-label{
    margin: 0.4rem;
}

.card-header,
.home__title {
    font-size: 2rem;
    font-weight: bold;
    color: #7e57c5;
}

.home__description {
    width: 70%;
    line-height: 1.7;
    margin-bottom: 3rem;
}

.homepage h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.homepage h4 {
    margin-top: 2rem;
}

.table {
    border: 3px solid black;
}

.leanLineList {
    text-align: left;
    padding-left: 1rem;
    margin-top: 1rem;
    list-style-type: none;
}

.table thead tr th {
    border: 2px solid white;
}

.home--description__container {
    margin-bottom: 4rem;
}

.description__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.6rem 2rem;
    background-color: #9c88c2;
    border: 2px solid black;
}

.description__link:hover {
    text-decoration: underline;
}

.container-md {
    margin-top: 2rem;
}

.container-md.theme-switcher {
    position: relative;
}
.switch {
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(85, 85, 85);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #7e57c5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #7e57c5;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

.switch {
    position: absolute;
    top: -4.6rem;
    right: 12rem;
    z-index: 5;
}

.app-darkmode {
    filter: invert(100%) hue-rotate(180deg);
}


.header,
.footer {
    background-color: rgb(211, 211, 211);
}

.footer {
    margin-top: 4rem;
}

.service__container {
    width: 70%;
    border-bottom: 1px solid rgb(112, 112, 112);
    margin-bottom: 3rem;
}

.service__container h2{
    margin-bottom: 2rem;
}

.service__container p {
    margin-bottom: 2rem;
    line-height: 1.5;
}

.footer .container-xl {
    padding: 2rem;
}

.socials svg {
    color: black;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.socials svg:hover {
    color: #7e57c5;
}

.bg-light {
    background-color: rgb(211, 211, 211) !important;
}

.team__list .list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team__list .list-group-item {
    width: 25%;
    text-align: center;
}

.team__list .list-group-item p {
    font-weight: bold;
}

.member--Student {
    color: #e6a65e;
}

.member--Teacher {
    color: rgb(103, 232, 255);
}

.team__list .list-group-item h2{
    font-size: 1.5rem;
}

.team__list .list-group-item a{
    text-decoration: none;
    color: black;
}

.team__list .list-group-item a:hover{
    text-decoration: underline;
}